<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
        

      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Check_out %>
    <%= form.datetime_local_field :checkout, id: :reservation_checkout, min: Date.today, max: Date.today+7, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :hours %>
    <%= form.number_field :hours, in: 1..10 %>
    </div>

    <%if @flag == true %>
        <%= form.hidden_field :car_id, :value => @car %>
    <% else %>
        <%= form.hidden_field :car_id, :value => params[:car_id] %>
    <%end%>
  <%= form.hidden_field :current, :value => true %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
